{% extends "index.html" %} 
{% block content %}

<div class="parentContainer">
  <img src="static/images/food.jpg" alt="table surrounded by fresh food" />
  <div class="centered">
    <h2>Enter a name, ingredient or cuisine below to find a recipe.</h2>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button">Search</button>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder=""
        aria-label=""
        aria-describedby="basic-addon1"
      />
    </div>
  </div>
</div>

{% endblock %}